{% extends "base.html" %}

<header>
    <link href="static/forms.css" rel="stylesheet">
</header>

{% block content %}
    <h1>Create a review</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.plate.label }}<br>
            <span class="plate">{{ form.plate(size=7) }}</span><br>
            {% for error in form.plate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=128) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rating.label }}<br>
            {{ form.rating(size=2) }}<br>
            {% for error in form.rating.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}