<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} | Rate Driving</title>
        {% else %}
            <title>Rate Driving</title>
        {% endif %}
        <link href="static/global.css" rel="stylesheet">

        {% if stylesheet %}
            <link href="static/{{ stylesheet }}.css" rel="stylesheet">
        {% endif %}
    </head>
    <body>
        <div class="navbar">
            <ul class="navbar">
                <li><a href="{{ url_for('index') }}">Rate My Driving</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('create_review') }}">Create</a></li>
                <li style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Signup</a></li>
                {% endif %}
                <form method="GET" action="{{ url_for('search') }}" class="search_bar">
                    {{ search_form.hidden_tag() }}
                    <li style="float:right">{{ search_form.submit() }}</li>
                    <li style="float:right" class="search_input">
                        {{ search_form.search_input(size=7) }}<br>
                    </li>
                </form>
                
            </ul>

        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        
        <div>
            <hr>
            <p>Website by Corley</p>
        </div>
    </body>
</html>