<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - Rate My Driving</title>
        {% else %}
            <title>Rate My Driving</title>
        {% endif %}
    </head>
    <body>
        <div>
            Rate My Driving | 
            <a href="{{ url_for('index') }}">Home</a> | 

            {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a> | 
            <a href="{{ url_for('create_review') }}">Create</a> | 
            {% else %}
            <a href="{{ url_for('login') }}">Login</a> | 
            <a href="{{ url_for('signup') }}">Signup</a> | 
            {% endif %}

        </div><hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        
        <hr>
        <div>
            <p>Website by Corley</p>

        </div>
    </body>
</html>