<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{ title }} - Rate My Driving</title>
        {% else %}
            <title>Rate My Driving</title>
        {% endif %}
    </head>
    <body>
        <div>
            Rate My Driving | 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Signup</a>
        </div><hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>